.App {
  display: flex;
  flex-direction: row;
  padding-bottom: 66px;
}

.App__submit {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.App__countries {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 55px;
}

.App__institutes {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
}

.App__institute {
  padding-bottom: 15px;
}

.checkbox_size_m {
  margin-bottom: 10px;
}

.App__membership {
  margin-left: auto;
  padding-left: 15px;
}

.App__membership .radio-group__top,
.App__membership .radio {
  padding-right: 5px;
  margin-bottom: 0;
}

.App__membership .radio-group__inner,
.App__membership .radio-group__box {
  display: flex;
}