.App {
  display: flex;
  flex-direction: row;
}

.App__countries {
  display: flex;
  width: 50%;
  height: 100%;
  padding: 10px;
  padding-top: 0;
}

.App__institutes {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  padding: 10px;
  padding-top: 0;
}

.App__institute {
  padding-bottom: 15px;
}

.App__institute--level1 {
  padding-left: 15px;
}